<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | Pic of the Day</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/icon.png">
	<link rel="icon" href="/icon.png">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.8/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.8/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.8/dist/spectre-icons.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" rel="stylesheet">
	<style>
		html {
		  font-size: 16px; }

		@media (min-width: 800px) {
		  html {
		    font-size: 18px; } }

		@media (min-width: 1200px) {
		  html {
		    font-size: 20px; } }

		@media (min-width: 1600px) {
		  html {
		    font-size: 22px; }}
		body {
			font-family: 'Bitter', sans-serif;
			color: #373737;
			background-color: #fdfdfd;
			max-width: 720px;
			margin: 0 auto;
			padding: 15px;
		}
	</style>
</head>
<body>
	{% block content %}{% endblock %}
			
	<script src="{{ url('theme://assets/lazyload.js') }}"></script>
	<script>lazyload();</script>
</body>
</html>