{% extends 'partials/base.html.twig' %}


{% block content %}
	<h2 style="margin-bottom: 0;">{{ page.title }}</h2>
	<h6>{{ page.date | date('d F Y') }} <!-- &#8226; $country --></h6>

	<div class="siema">
	{% for img in page.media.images %}
		<img src="{{ img.url }}" alt="{{ page.title }}" style="max-height: 500px; max-width: 100%;">
	{% endfor %}
	</div>
	{% if page.media.images|length > 1 %}
	<div style="text-align: center;">
		<button class="btn btn-sm prev">Prev</button>
		<button class="btn btn-sm next">Next</button>
	</div>
	{% endif %}
    
    {{ page.content }}
    <div style="margin-bottom: 100px;"></div>
	
	<script src="{{ url('theme://assets/siema.min.js') }}"></script>
	<script>
		const mySiema = new Siema({loop:true});
		document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
		document.querySelector('.next').addEventListener('click', () => mySiema.next());


	</script>
{% endblock %}
