{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h1>
	<p>
		{{ page.content|raw }}
	</p>
	<a href="/">Back to Listing</a>
{% endblock %}
