{% extends 'partials/base.html.twig' %}


{% block content %}

	{% if uri.param('date') %}
		<!-- Leaving this here, so in future can do this kind of thing with country! -->
		<!-- will trigger if url e.g is /date:2019-01-01 -->
		<h1>{{ uri.param('date') | date("d F Y") }}</h1>

		{% for page in page.children.order('date', 'asc') if (page.date | date("d F Y") == uri.param('date') | date("d F Y")) %}
			 {% include 'default.html.twig' with {page: page} %}
		{% endfor %}

	{% else %}
		<!-- Shows the listing -->
		<h1>Listing - <a href="/admin/pages/home/newpage">New post</a></h1>
		{% for p in page.children.order('date', 'desc') %}
				<h2 style="margin-top: 1rem; margin-bottom: 0;"><a href="{{ p.url }}" target="_blank">{{ p.title }}</a></h2>
				<h6>{{ p.date | date('d F Y') }} <!-- &#8226; $country --></h6>
			{% for img in p.media.images %}
				<a href="{{ img.url }}" target="_blank">
					<img data-src="{{ img.resize(120).url }}" class="lazyload">
				</a>
			{% endfor %}
		{% endfor %}
		
	{% endif %}

{% endblock %}
